<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://scontent.fbjp1-1.fna.fbcdn.net/v/t1.6435-9/73323469_2426455567567422_9006219555520905216_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=TiopBCih3-gAX9f84gt&tn=2auaZWbiMETCeiy2&_nc_ht=scontent.fbjp1-1.fna&oh=d595fb607f0d34cdfc0d6fe78da4ad57&oe=6171235C" alt="">
  <h1>Exodia</h1>
  <p>Estudante na FATEC de Bragança Paulista-SP</p>
  <a href="https://www.facebook.com/profile.php?id=100006090078558">Facebook</a>
</ion-content>
